[cy-footer-a] li a {
    padding: 0 2px;
}

footer {
    padding-bottom:50px;
}

[cy-RenderBoder] {
    min-height: 400px;
}

[cy-top-message] {
    background-color: #eee;
    margin-top: -17px;
    margin-bottom: 10px;
}