
.yellow-highlight {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    border: 2px dashed #eee;
    border-radius: 4px 5px;
    background-color: #ffffe0;
}

.return-prepage {
    background-color: #7fffd4;
    border-bottom-left-radius: 6px;
    width: 75px;
    height: 30px;
    margin-bottom: 5px;
}

    .return-prepage a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }

.content {
    clear: both;
}

.text-bold {
font-weight:600;
}

.water {
color:blue;
}

.creadit {
    color: rgba(203,180,26,1);
}

.bead {
    color: #9acd32;
}

.input-validation-error {
    border: 1px solid #b94a48;
}