<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-left" href="#">
                <img alt="Logo" src="~/images/logo-big.ico">
            </a>
            <p class="navbar-text">
                <span style="font-size:18px; font-weight:600;">一起帮 ·</span>
                网络互助平台
            </p>
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav ">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-question-sign"></span> 求助
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header"> 督导班</li>
                            <li><a href="#"><span class="glyphicon glyphicon-eye-open"></span> 督导班</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-list"></span> 列表</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> 疑问发布</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-list"></span> 疑问列表</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><span class="glyphicon glyphicon-list"></span> 列表</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> 发布</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-eye-open"></span> 督促
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> 求督促</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-eye-open"></span> 督促别人</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-list"></span> 我的目标</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-list"></span> 我的督促</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-list-alt"></span> 文章
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="glyphicon glyphicon-list"></span> 列表</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span> 未登录 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-registration-mark"></span> 注册</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-lock"></span> 忘记密码</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    @RenderBody()

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
